<label>Server Name</label>

<!-- One-way event binding -->
<input type="text" class="form-control" (input)="onServerNameUpdate($event)">

<!-- Two-way data-binding, nb. FormsModule import in app.module.ts req'd  -->
<input type="text" class="form-control" [(ngModel)]="serverName">


<!-- Property binding [disabled], and event binding (click) -->
<button [class]="addServerCss"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">Add Server</button>

<p *ngIf="serverCreated; else noServer">Server was created, server name: {{ serverName }}</p>
<ng-template #noServer>
  <p>Waiting server creation...</p>
</ng-template>

<br>

<app-server></app-server>
<app-server></app-server>
<app-server></app-server>
